<div class="icon-selection-content">
    <mat-label style="font-size: 22px; color: black;">Selecciona un color:</mat-label>
    <div class="icon-list">
        <button mat-icon-button class="icon-button" style="background-color: #fbd4c4;" [mat-dialog-close]="'#fbd4c4'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #808080;" [mat-dialog-close]="'#808080'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #3e6158;" [mat-dialog-close]="'#3e6158'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #3f7a89;" [mat-dialog-close]="'#3f7a89'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #96c582;" [mat-dialog-close]="'#96c582'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #b7d5c4;" [mat-dialog-close]="'#b7d5c4'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #bcd6e7;" [mat-dialog-close]="'#bcd6e7'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #7c90c1;" [mat-dialog-close]="'#7c90c1'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #9d8594;" [mat-dialog-close]="'#9d8594'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #dad0d8;" [mat-dialog-close]="'#dad0d8'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #4b4fce;" [mat-dialog-close]="'#4b4fce'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #4e0a77;" [mat-dialog-close]="'#4e0a77'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #a367b5;" [mat-dialog-close]="'#a367b5'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #ee3e6d;" [mat-dialog-close]="'#ee3e6d'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #d63d62;" [mat-dialog-close]="'#d63d62'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #c6a670;" [mat-dialog-close]="'#c6a670'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #f46600;" [mat-dialog-close]="'#f46600'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #cf0500;" [mat-dialog-close]="'#cf0500'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #efabbd;" [mat-dialog-close]="'#efabbd'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #8e0622;" [mat-dialog-close]="'#8e0622'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #f0b89a;" [mat-dialog-close]="'#f0b89a'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #f0ca68;" [mat-dialog-close]="'#f0ca68'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #62382f;" [mat-dialog-close]="'#62382f'">
        </button>
        <button mat-icon-button class="icon-button" style="background-color: #c97545;" [mat-dialog-close]="'#c97545'">
        </button>
    </div>
</div>