<div class="space"></div>

<div class="container">
    <div class="containerbody">
        <div class="row">
            <div class="col-md-8">
                <div class="prueba">
                    <form [formGroup]=loginForm>
                        <img class="logo" src="../../../../assets/img/LogoSavioo.png" alt="">
                        <h3 class="eti">Email</h3>
                        <input formControlName="userEmail" type="text">
                        <h3 class="eti">Contraseña</h3>
                        <input formControlName="password" type="password">
                        <br><br>
                        <input id="but" class="btn-info" type="submit" value="Iniciar Sesión" (click)="submit_onClick()">
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="text-align: center;">video</h3>
                <div class="prueba" style="background-color: dimgrey;">
                    <form [formGroup]=loginForm>
                        <img class="logo" src="../../../../assets/img/LogoSavioo.png" alt="">
                        <br><br>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="userEmail" placeholder="User Email">
                        </mat-form-field>
                        <br><br>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" placeholder="User Password" type="password">
                        </mat-form-field>
                        <br><br>
                        <button mat-raised-button id="but" class="btn-info" (click)="submit_onClick()">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>