<div class="space"></div>

<div class="container">
    <div class="containerbody">
        <div class="row">
            <div class="col-md-8">
                <div class="prueba">
                    <img class="logo" src="../../../../assets/img/LogoSavioo.png" alt="">
                    <h3 class="eti">Email</h3>
                    <input class="inp" type="text">
                    <h3 class="eti">Contraseña</h3>
                    <input class="inp" type="password">
                    <br><br>
                    <input id="but" class="btn-info" type="submit" value="Iniciar Sesión">
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="text-align: center;">video</h3>
            </div>
        </div>

    </div>
</div>