<div class="row">
    <div class="column1">
      <h4>¿Sabes cuanto ahorrar para la jubilación?</h4>

    </div>
    
    <div class="column2" >
      <h2>IMAGEN</h2>
    </div>
    
    <div class="column3">
      <h2>ANUNCIO</h2>
    </div>
  </div>
    
    
    


<!-- Rubros -->

<div class="rubros">

    <div class="row">
        <div class="col-md-12">
            <h1 class="rubros-title" >Categorías Prediseñadas</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h2 class="rubros-subtitle">Con categorías prediseñadas para administrar mejor tus gastos</h2>
        </div>
    </div>
               
    <div class="box">
        <div class="centers">

            <div class="icon">
                <i class="fa fa-home"></i>
                <span>Vivienda</span>
            </div>

            <div class="icon">
                <i class="fa fa-car"></i>
                <span>Transporte</span>
            </div>

            <div class="icon">
                <i class="fa fa-ticket"></i>
                <span>Entretenimiento</span>
            </div>
            
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
                <span>Despensa</span>
            </div>

            <div class="icon">
                <i class="fa fa-heartbeat"></i>
                <span>Salud</span>
            </div>

            <div class="icon">
                <i class="fas fa-tshirt"></i>
                <span>Ropa</span>
            </div>

            <div class="icon">
                <i class="fa fa-money"></i>
                <span>Ahorro</span>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2 class="rubros-subtitle">Todo pensado para ti</h2>
                </div>
            </div>

        </div>
    </div>

    



</div> <!-- Fin clase de rubros -->



<!--<div class="page-wrapper">-->
    <div class="post-slider">
        <h1 class="slider-title">Noticias</h1>
        <h2 class="slider-subtitle">Mantente al tanto de lo último en inclusión financiera en México</h2>
        <i class="fas fa-chevron-left prev"></i>
        <i class="fas fa-chevron-right next"></i>

        <div class="post-wrapper"> 
            <div class="post">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/Fondo_gris.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">TÍTULO NOTICIA</h5>
                                <p class="card-text">Breve descripción de noticia.</p>
                        </div><!-- Fin clase de card-body -->
                                <div class="card-footer">
                                    <small class="text-muted">Publicado el 00/00/000</small>
                                </div><!-- Fin clase de card-footer -->
                </div> <!-- Fin clase de card -->
            </div>
            <div class="post">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/Fondo_gris.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">TÍTULO NOTICIA</h5>
                                <p class="card-text">Breve descripción de noticia.</p>
                        </div><!-- Fin clase de card-body -->
                                <div class="card-footer">
                                    <small class="text-muted">Publicado el 00/00/000</small>
                                </div><!-- Fin clase de card-footer -->
                </div> <!-- Fin clase de card -->
            </div>
            <div class="post">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/Fondo_gris.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">TÍTULO NOTICIA</h5>
                                <p class="card-text">Breve descripción de noticia.</p>
                        </div><!-- Fin clase de card-body -->
                                <div class="card-footer">
                                    <small class="text-muted">Publicado el 00/00/000</small>
                                </div><!-- Fin clase de card-footer -->
                </div> <!-- Fin clase de card -->
            </div>
            <div class="post">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/Fondo_gris.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">TÍTULO NOTICIA</h5>
                                <p class="card-text">Breve descripción de noticia.</p>
                        </div><!-- Fin clase de card-body -->
                                <div class="card-footer">
                                    <small class="text-muted">Publicado el 00/00/000</small>
                                </div><!-- Fin clase de card-footer -->
                </div> <!-- Fin clase de card -->
            </div>
            <div class="post">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/Fondo_gris.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">TÍTULO NOTICIA</h5>
                                <p class="card-text">Breve descripción de noticia.</p>
                        </div><!-- Fin clase de card-body -->
                                <div class="card-footer">
                                    <small class="text-muted">Publicado el 00/00/000</small>
                                </div><!-- Fin clase de card-footer -->
                </div> <!-- Fin clase de card -->
            </div>
        </div>
    </div>

<!-- </div> 
Rubros 

<div class="rubros">

    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>


    <div class="row">
        <div class="col-md-12">
            <h1 class="rubros-title" >Categorías Prediseñadas</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h2 class="rubros-subtitle">Con categorías prediseñadas para administrar mejor tus gastos</h2>
        </div>
    </div>-->
    
<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-md-3">
            <div class="logo">
                <a href=""><img src="../../../assets/img/logo.png"></a>
            </div>
        </div>
        <div class="col-md-3">
            <a  href="">Compañia</a>
            <br>
            <a href="">Inicio</a>
            <br>
            <a href="">Blog</a>
        </div>
        <div class="col-md-3">
            <a href="">Recursos</a>
            <br>
            <a href="">Tutorial</a>
            <br>
            <a href="">Comentarios</a>
        </div>
        <div class="col-md-3">
            <h4 style=color:white>Redes Sociales</h4>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-facebook-official" style="font-size:24px;color: #fff; padding: 3px; cursor: pointer;"> </i>
                    <i class="fa fa-twitter" style="font-size:24px;color:#fff; padding: 3px; cursor: pointer;"></i>
                    <i class="fa fa-youtube-play" style="font-size:24px;color:#fff; padding: 3px; cursor: pointer;"></i>
            </ul>
        </div>
    </div>
</footer>





