<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4">Savio</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
            <div class="col-md-6">
                <img class="animacion" src="../../../assets/img/cochi.gif">
            </div>
        </div>
    </div>
</div>

<!-- Info -->
<section>
    <div class="contenedor">
        <div class="row">
            <div class="col-md-4">
                <h3 class="info">
                    Usuarios Creados:
                </h3>
            </div>
            <div class="col-md-4">
                <h3 class="info">
                    Dinero Ahorrado de todos los usuarios
                </h3>
            </div>
            <div class="col-md-4">
                <h3 class="info">
                    Los 3 rubros en que mas gastan los usuarios
                </h3>
            </div>
        </div>
    </div>
</section>

<!-- Noticias -->
<section>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div id="noticia" class="carousel-item active">
                <img src="../../../assets/img/wolverine.png" class="d-block" alt="...">
            </div>
            <div id="noticia" class="carousel-item">
                <img src="../../../assets/img/spiderman.png" class="d-block " alt="...">
            </div>
            <div id="noticia" class="carousel-item">
                <img src="../../../assets/img/linterna-verde.png" class="d-block " alt="... ">
            </div>
        </div>
    </div>
</section>

<!-- Rubros -->
<section class="rubros">
    <h2 style="margin-left: 2vw">Rubros Prediseñados</h2>
    <div style="margin-top: 5vh;" id="rubro" class="row">
        <div class="col-md-3">
            <h5>Despensa</h5>
        </div>
        <div class="col-md-3">
            <h5>Transporte</h5>
        </div>
        <div class="col-md-3">
            <h5>Entretenimiento</h5>
        </div>
        <div class="col-md-3">
            <h5>Vivienda</h5>
        </div>
    </div>
    <div style="margin-top: 5vh;" id="rubro" class="row">
        <div class="col-md-3">
            <h5>salud</h5>
        </div>
        <div class="col-md-3">
            <h5>Ropa y Calzado</h5>
        </div>
        <div class="col-md-3">
            <h5>Otros</h5>
        </div>
        <div class="col-md-3">
            <h5>Ahorro</h5>
        </div>
    </div>
    <div style="margin-top: 5vh;" class="row">
        <div class="col-md-10">
            <h2 style="margin-left: 2vw">¡Prueba Savio y empieza a ahorrar!</h2>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success">Crear Usuario</button>
        </div>
    </div>
</section>

<footer>
    <div class="row">
        <div class="col-md-3">
            <h2 style=color:white>Logo</h2>
        </div>
        <div class="col-md-3">
            <a href="">Compañia</a>
            <br>
            <a href="">Inicio</a>
            <br>
            <a href="">Blog</a>
        </div>
        <div class="col-md-3">
            <a href="">Recursos</a>
            <br>
            <a href="">Tutorial</a>
        </div>
        <div class="col-md-3">
            <h4 style=color:white>Redes Sociales</h4>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-facebook-official" style="font-size:24px;color: #1278f3;"></i>
                    <i class="fa fa-twitter" style="font-size:24px;color:#2daae2"></i>
                    <i class="fa fa-youtube-play" style="font-size:24px;color:red"></i>
            </ul>
        </div>
    </div>
</footer>