<div class="container">
    <div class="parrallax"> 

    </div> <!-- Fin clase de parrallax -->

    <div class="containerbody">

<!-- Noticias -->
<section class="noticias">
    <div class="card-group">
        <div class="separador">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/Fondo_gris.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">TÍTULO NOTICIA</h5>
                            <p class="card-text">Breve descripción de noticia.</p>
                    </div><!-- Fin clase de card-body -->
                             <div class="card-footer">
                                <small class="text-muted">Publicado el 00/00/000 </small>
                            </div> <!-- Fin clase de card-footer -->
           </div> <!-- Fin clase de card -->
        </div> <!-- Fin clase de separador -->

        <div class="separador">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/Fondo_gris.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">TÍTULO NOTICIA</h5>
                            <p class="card-text">Breve descripción de noticia.</p>
                    </div><!-- Fin clase de card-body -->
                            <div class="card-footer">
                                <small class="text-muted">Publicado el 00/00/000</small>
                            </div><!-- Fin clase de card-footer -->
            </div> <!-- Fin clase de card -->
        </div> <!-- Fin clase de separador -->

        <div class="separador">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/Fondo_gris.png" alt="Card image cap">
                      <div class="card-body">
                           <h5 class="card-title">TÍTULO NOTICIA</h5>
                               <p class="card-text">Breve descripción de noticia.</p>
                      </div><!-- Fin clase de card-body -->
                             <div class="card-footer">
                                <small class="text-muted">Publicado el 00/00/000</small>
                             </div><!-- Fin clase de card-footer -->
           </div><!-- Fin clase de card -->
        </div><!-- Fin clase de separador -->
    </div><!-- Fin clase de Card-group -->
</section>

<!-- Rubros -->
<section class="rubros">
    <h2 style="margin-left: 2vw">Rubros Prediseñados</h2>
    <div style="margin-top: 5vh;" id="rubro" class="row">
        <div class="col-md-3">
            <h5>Despensa</h5>
        </div>
        <div class="col-md-3">
            <h5>Transporte</h5>
        </div>
        <div class="col-md-3">
            <h5>Entretenimiento</h5>
        </div>
        <div class="col-md-3">
            <h5>Vivienda</h5>
        </div>
    </div>
    <div style="margin-top: 5vh;" id="rubro" class="row">
        <div class="col-md-3">
            <h5>salud</h5>
        </div>
        <div class="col-md-3">
            <h5>Ropa y Calzado</h5>
        </div>
        <div class="col-md-3">
            <h5>Otros</h5>
        </div>
        <div class="col-md-3">
            <h5>Ahorro</h5>
        </div>
    </div>
    <div style="margin-top: 5vh;" class="row">
        <div class="col-md-10">
            <h2 style="margin-left: 2vw">¡Prueba Savio y empieza a ahorrar!</h2>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success">Crear Usuario</button>
        </div>
    </div>
</section>

<footer>
    <div class="row">
        <div class="col-md-3">
            <h2 style=color:white>Logo</h2>
        </div>
        <div class="col-md-3">
            <a href="">Compañia</a>
            <br>
            <a href="">Inicio</a>
            <br>
            <a href="">Blog</a>
        </div>
        <div class="col-md-3">
            <a href="">Recursos</a>
            <br>
            <a href="">Tutorial</a>
        </div>
        <div class="col-md-3">
            <h4 style=color:white>Redes Sociales</h4>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-facebook-official" style="font-size:24px;color: #1278f3;"></i>
                    <i class="fa fa-twitter" style="font-size:24px;color:#2daae2"></i>
                    <i class="fa fa-youtube-play" style="font-size:24px;color:red"></i>
            </ul>
        </div>
    </div>
</footer>

    </div> <!-- Fin clase de containerbody -->


</div> <!-- Finn de clase Container -->


