<h2>Crear Cuenta</h2>
<div class="container">
    <form autocomplete="off" (ngSubmit)="guardar()" [formGroup]="UserForm">
        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Nombre:</label>
                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre...</mat-label>
                        <input matInput formControlName="formUserName">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Apellido:</label>
                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Apellido...</mat-label>
                        <input matInput formControlName="formUserLName">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">País:</label>
                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-label>País...</mat-label>
                        <mat-select formControlName="formCountrySelect">
                            <!-- <mat-option value="option">Option</mat-option> -->
                            <mat-option *ngFor="let country of countryArray" [value]="country.countryCode">
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Estado:</label>
                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Estado...</mat-label>
                        <mat-select formControlName="formStateSelect">
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Edad:</label>
                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Edad...</mat-label>
                        <input matInput type="number" formControlName="formAge">
                        <mat-error *ngIf="formAge.hasError('number') && !formAge.hasError('required')">
                            Por favor introduzca una edad válida
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Sexo:</label>
                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-select formControlName="formSexSelect">
                            <mat-label>Sexo...</mat-label>
                            <mat-option value="true">Masculino</mat-option>
                            <mat-option value="false">Femenino</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Ocupación:</label>
                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Ocupación...</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Estado civil:</label>
                <div class="col-2">
                    <!--Para ser cambiado proximamente a dropdown-->
                    <mat-form-field appearance="fill">
                        <mat-label>Estado Civil...</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Email:</label>
                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-label>ejemplo@hotmail.com</mat-label>
                        <input matInput formControlName="formUserEmail" placeholder="Ej. pat@example.com">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Por favor introduzca una direccion válida de correo
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            El correo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Contraseña:</label>
                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" placeholder="Password" type="password">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Confirmación de contraseña:</label>
                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="Repassword" placeholder="Password" type="password">
                    </mat-form-field>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-2">
                <button mat-flat-button color="accent" type="submit">Crear cuenta</button>
            </div>
        </div>

    </form>

</div>