<h2>Crear Cuenta</h2>
<hr>
<form autocomplete="off" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Crear Usuario:</label>
            <div class="col-2">

                <input class="form-control" type="text" name="CrearUsuario" ngModel placeholder="Crear Usuario...">

            </div>
        </div>
    </div>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre:</label>
            <div class="col-2">

                <input class="form-control" type="text" name="Nombre" ngModel placeholder="Nombre...">

            </div>
        </div>
    </div>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido:</label>
            <div class="col-2">

                <input class="form-control" type="text" name="Apellido" ngModel placeholder="Apellido...">

            </div>
        </div>
    </div>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">País:</label>
            <div class="col-2">

                <input class="form-control" type="text" name="Pais" ngModel placeholder="País...">

            </div>
        </div>
    </div>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Estado:</label>
            <div class="col-2">

                <input class="form-control" type="text" name="Estado" ngModel placeholder="Estado...">

            </div>
        </div>
    </div>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Edad:</label>
            <div class="col-2">

                <input class="form-control" type="number" name="Edad" ngModel placeholder="Edad...">

            </div>
        </div>
    </div>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Sexo:</label>
            <div class="col-2">

                <input class="form-control" type="text" name="Sexo" ngModel placeholder="Sexo...">

            </div>
        </div>
    </div>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Ocupación:</label>
            <div class="col-2">

                <input class="form-control" type="text" name="Ocupacion" ngModel placeholder="Ocupación...">

            </div>
        </div>
    </div>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Estado civil:</label>
            <div class="col-2">

                <input class="form-control" type="text" name="EstadoCivil" ngModel placeholder="Estado Civil...">

            </div>
        </div>
    </div>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Email:</label>
            <div class="col-2">

                <input class="form-control" type="email" name="Email" ngModel placeholder="ejemplo@hotmail.com">

            </div>
        </div>
    </div>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Contraseña:</label>
            <div class="col-2">

                <input class="form-control" type="password" name="Contraseña" ngModel placeholder="Constraseña...">

            </div>
        </div>
    </div>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Confirmación de contraseña:</label>
            <div class="col-2">

                <input class="form-control" type="password" name="coContraseña" ngModel placeholder="Confirmación de contraseña...">

            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-2">
            <button type="submit" class="btn btn-outline-primary btn-block">Guardar</button>
        </div>
    </div>

</form>