.container {
    background: #fff;
    margin-top: 100px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

hr {
    border: solid blue -1px;
}


.containerbody {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    background: #f8f9fa;
    height: 680px;
}

label {
    font-size: 20px;
}