<mat-tab-group class="category-container">
    <mat-tab label="Agregar">
        <div class="form-container">
            <form autocomplete="off">
                <div class="top add-form">
                    <div>
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre" [value]="addedCategory.concept"
                                (keyup)="updateForm($event.srcElement.value, 'concept', 'add')" required>
                            <button mat-button *ngIf="addedCategory.concept" matSuffix mat-icon-button
                                aria-label="Clear" (click)="addedCategory.concept=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="toggle">
                        Ingreso
                        <mat-slide-toggle style="margin: 0px 9px;"
                            (change)="updateForm($event.checked, 'isExpense', 'add')"
                            [checked]="addedCategory.isExpense"></mat-slide-toggle>
                        Gasto
                    </div>
                    <button mat-raised-button class="categories-button" [disabled]="addedCategory.concept === ''"
                        (click)="addCategory_onClick();">Agregar</button>
                </div>
                <div class="middle add-form">
                    Icono seleccionado:
                    <!-- <button mat-icon-button class="icon-button" (click)="openIconSelectionDialog($event)">
                    <mat-icon class="icon">{{addedCategory.icon}}</mat-icon>
                </button> -->
                    <button mat-fab class="icon-button" (click)="openIconSelectionDialog($event, 'add')"
                        [ngStyle]="{'background-color': addedCategory.color}">
                        <mat-icon class="icon">{{addedCategory.icon}}</mat-icon>
                    </button>
                    Color seleccionado:
                    <button mat-fab class="icon-button" (click)="openColorSelectionDialog($event, 'add')"
                        [ngStyle]="{'background-color': addedCategory.color}">
                    </button>

                </div>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Editar">
        <div class="form-container">
            <mat-form-field class="category-select">
                <mat-label>Selecciona una categoría</mat-label>
                <mat-select required (selectionChange)="onSelectChanged($event.value, 'edit');">
                    <mat-option>Selecciona una Categoría...</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{category.concept}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="top">
                <div>
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre" [value]="editCategory.concept"
                            (keyup)="updateForm($event.srcElement.value, 'concept', 'edit')"
                            [disabled]="!editCategory.id" required>
                        <button mat-button *ngIf="editCategory.concept" matSuffix mat-icon-button aria-label="Clear"
                            (click)="editCategory.concept=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="toggle">
                    Ingreso
                    <mat-slide-toggle style="margin: 0px 9px;"
                        (change)="updateForm($event.checked, 'isExpense', 'edit')" [disabled]="!editCategory.id"
                        [checked]="editCategory.isExpense">
                    </mat-slide-toggle>
                    Gasto
                </div>
                <button mat-raised-button class="categories-button" [disabled]="!dirty"
                    (click)="editCategory_onClick();">Editar</button>
            </div>
            <div class="middle">
                Icono seleccionado:
                <!-- <button mat-icon-button class="icon-button" (click)="openIconSelectionDialog($event)">
                <mat-icon class="icon">{{addedCategory.icon}}</mat-icon>
            </button> -->
                <button mat-fab class="icon-button" (click)="openIconSelectionDialog($event, 'edit')"
                    [disabled]="!editCategory.id" [ngStyle]="{'background-color': editCategory.color}">
                    <mat-icon class="icon">{{editCategory.icon}}</mat-icon>
                </button>
                Color seleccionado:
                <button mat-fab class="icon-button" (click)="openColorSelectionDialog($event, 'edit')"
                    [disabled]="!editCategory.id" [ngStyle]="{'background-color': editCategory.color}">
                </button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Eliminar">
        <div class="form-container">
            <mat-form-field class="category-select">
                <mat-label>Selecciona una categoría</mat-label>
                <mat-select required (selectionChange)="onSelectChanged($event.value, 'delete');">
                    <mat-option>Selecciona una Categoría...</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{category.concept}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="category-select" *ngIf="categoryHasTransactions">
                <mat-label>Selecciona una categoría de reemplazo</mat-label>
                <mat-select required (selectionChange)="onSelectChanged($event.value, 'replace');">
                    <mat-option>Categoría</mat-option>
                    <mat-option *ngFor="let category of replacementCategories" [value]="category.id">
                        {{category.concept}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button class="categories-button" [disabled]="!deletedCategory"
                (click)="deleteCategory_onClick();">Eliminar</button>
        </div>
    </mat-tab>
</mat-tab-group>