<div class="container animate-in">
    <h2> Recupera tu cuenta</h2>
    <hr>
    <div class="forgotcard">
        <p> Introduce el correo electrónico para recuperar tu cuenta </p>
        <!--  <mat-form-field class="example-full-width">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Correo electrónico" required>
        </mat-form-field>-->
        <form autocomplete="off">
            <label>Email</label>
            <mat-form-field class="form-field" auto>
                <input matInput [value]="user.email" formControlName="email" class="input-style"
                    (keyup)="updateForm($event.srcElement.value, 'email')">
                <button mat-button *ngIf="user.email" matSuffix mat-icon-button aria-label="Clear" class="input-style"
                    (click)="user.email=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="formModel.get('email').touched && formModel.get('email').hasError('required')">
                    Este campo es requerido.
                </mat-error>
                <mat-error *ngIf="formModel.get('email').touched && formModel.get('email').hasError('email')">
                    Direccion inválida de correo.
                </mat-error>
            </mat-form-field>
        </form>

        <br>

        <div class="buttons">

            <button mat-raised-button class="no-border">Recuperar contraseña</button>
            <!--  <button mat-raised-button class="no-border" (click)="router.navigate(['/home']);" >Cancelar</button>-->

        </div>

    </div>
</div>