.container {
    background-color: #6a20e1;
    border-radius: 25px;
    width: 700px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    margin: 10px auto auto auto;
}

hr{
    background-color: #fff;
}

.forgotcard{
    margin: 10% 10% 10% 10%;
}

.forgotcard p{
    font-size: 18px;
}

input{
    width: 100%;
}

.buttons{
    float: right;
}

button{
    margin-right: 10px;
}

::ng-deep .no-border:focus:active:hover {
    outline: none !important;
    border: 0 !important;
}

.no-border {
    outline: none;
    border: 0;
}

::ng-deep mat-label{
    color: #fff;
}