<div class="container animate-in">
    <h2> Recupera tu cuenta</h2>
    <hr>
    <div class="forgotcard">

        <p> Introduce el correo electrónico para recuperar tu cuenta </p>

        <form [formGroup]="passwordForm" autocomplete="off">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="forgotEmail" placeholder="User Email" required>
            </mat-form-field>
        </form>

        <div class="buttons">

            <button mat-raised-button class="login-button no-border" (click)="send_email()"
            [disabled]="passwordForm.invalid">Iniciar
            Sesión</button>

            <button mat-raised-button class="no-border">Recuperar contraseña</button>
            <!--  <button mat-raised-button class="no-border" (click)="router.navigate(['/home']);" >Cancelar</button>-->
        </div>

    </div>
</div>