<mat-tab-group mat-stretch-tabs class="legal-tabs">
    <mat-tab label="Condiciones">
        <div class="content-container">
            <div style="height: 100%; color:black; overflow-y: auto; padding: 1%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat dui vitae pharetra placerat.
                Aliquam laoreet sagittis lorem, quis venenatis sem auctor ac. Donec porttitor convallis mauris. Proin
                bibendum vitae dolor vehicula aliquet. Cras venenatis posuere magna vitae pellentesque. Fusce elementum
                felis nec tellus fermentum, quis rhoncus libero vulputate. Aenean pretium lorem dapibus, fringilla
                turpis nec, consequat neque. Vivamus nec nunc rutrum, euismod nisl malesuada, maximus nunc. Vestibulum
                aliquam, nulla sit amet faucibus porttitor, odio ipsum ullamcorper ante, et maximus massa orci vitae
                elit. Suspendisse ultricies felis ullamcorper condimentum sagittis. Aenean posuere luctus urna, et
                rutrum felis bibendum in.
                <br><br>
                Morbi at cursus nisi, ac cursus felis. Duis sit amet ullamcorper orci. Pellentesque elementum vulputate
                urna et congue. Donec porttitor est vel nunc pulvinar, eu sagittis sem placerat. Cras quis eros eros.
                Fusce vulputate nunc dui, sit amet sollicitudin nisi auctor quis. Etiam at dictum ipsum. Sed dictum
                augue nunc, quis cursus lorem congue convallis. Praesent euismod, quam ac sodales sodales, dolor ligula
                aliquam odio, quis interdum justo turpis sed diam. Duis ultrices vehicula lorem vel ultricies.
                <br><br>
                Pellentesque vitae mi aliquam, finibus lectus in, porta enim. Quisque suscipit tristique velit sed
                tincidunt. Ut tempor sem eu lacus lacinia ullamcorper. Aliquam in lectus sit amet ex porttitor vulputate
                sit amet sit amet dui. Vivamus bibendum laoreet ullamcorper. Fusce quis lorem sit amet odio faucibus
                lacinia. Vivamus tristique ligula dui, eu facilisis enim ornare sed. Nulla aliquet purus at egestas
                mollis. Sed non neque in sem porttitor ultricies. Aenean posuere eros sit amet dolor interdum molestie.
                Fusce ex tellus, dictum ut est ut, consequat pretium elit. Aenean eleifend pretium ligula, quis posuere
                mauris feugiat eu. Duis consectetur nisl vestibulum mollis gravida. Etiam viverra venenatis eros, eu
                interdum lacus. Nunc pellentesque nec felis sit amet vehicula.
                <br><br>
                Vestibulum eu felis egestas, imperdiet eros luctus, cursus arcu. Proin non massa cursus, viverra dolor
                ac, aliquet nibh. Donec id odio tellus. Proin vitae dapibus est. Etiam sagittis luctus eleifend. Nulla
                laoreet, dolor sit amet lacinia commodo, ante quam molestie lacus, nec suscipit quam nulla sit amet
                nisl. Cras accumsan orci tellus, in cursus ante condimentum ac. In scelerisque ipsum ultricies quam
                luctus, in fringilla est porta.
                <br><br>
                Donec aliquet ipsum efficitur luctus placerat. Proin nunc orci, ultricies ac ex et, eleifend tristique
                quam. Donec varius turpis quis nunc venenatis tempus. In et turpis sagittis, pellentesque justo ut,
                convallis est. Quisque fermentum mauris lorem, ac faucibus ex lobortis a. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Vivamus luctus semper porttitor. Pellentesque nunc mi, semper vel ipsum
                eleifend, varius maximus ex. Mauris id magna non lacus laoreet ornare ac dapibus augue. Mauris luctus
                gravida purus ac volutpat. Suspendisse vel eros eu nulla ullamcorper commodo sit amet ac dui. Fusce at
                metus sed nulla condimentum consequat. Ut et arcu eu tortor dapibus blandit. Nullam mattis elementum
                eros, sit amet convallis est rutrum non.
                <br><br>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Política de Datos">
        <div class="content-container">
            <div style="height: 100%; color:black; overflow-y: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat dui vitae pharetra placerat.
                Aliquam laoreet sagittis lorem, quis venenatis sem auctor ac. Donec porttitor convallis mauris. Proin
                bibendum vitae dolor vehicula aliquet. Cras venenatis posuere magna vitae pellentesque. Fusce elementum
                felis nec tellus fermentum, quis rhoncus libero vulputate. Aenean pretium lorem dapibus, fringilla
                turpis nec, consequat neque. Vivamus nec nunc rutrum, euismod nisl malesuada, maximus nunc. Vestibulum
                aliquam, nulla sit amet faucibus porttitor, odio ipsum ullamcorper ante, et maximus massa orci vitae
                elit. Suspendisse ultricies felis ullamcorper condimentum sagittis. Aenean posuere luctus urna, et
                rutrum felis bibendum in.
                <br><br>
                Morbi at cursus nisi, ac cursus felis. Duis sit amet ullamcorper orci. Pellentesque elementum vulputate
                urna et congue. Donec porttitor est vel nunc pulvinar, eu sagittis sem placerat. Cras quis eros eros.
                Fusce vulputate nunc dui, sit amet sollicitudin nisi auctor quis. Etiam at dictum ipsum. Sed dictum
                augue nunc, quis cursus lorem congue convallis. Praesent euismod, quam ac sodales sodales, dolor ligula
                aliquam odio, quis interdum justo turpis sed diam. Duis ultrices vehicula lorem vel ultricies.
                <br><br>
                Pellentesque vitae mi aliquam, finibus lectus in, porta enim. Quisque suscipit tristique velit sed
                tincidunt. Ut tempor sem eu lacus lacinia ullamcorper. Aliquam in lectus sit amet ex porttitor vulputate
                sit amet sit amet dui. Vivamus bibendum laoreet ullamcorper. Fusce quis lorem sit amet odio faucibus
                lacinia. Vivamus tristique ligula dui, eu facilisis enim ornare sed. Nulla aliquet purus at egestas
                mollis. Sed non neque in sem porttitor ultricies. Aenean posuere eros sit amet dolor interdum molestie.
                Fusce ex tellus, dictum ut est ut, consequat pretium elit. Aenean eleifend pretium ligula, quis posuere
                mauris feugiat eu. Duis consectetur nisl vestibulum mollis gravida. Etiam viverra venenatis eros, eu
                interdum lacus. Nunc pellentesque nec felis sit amet vehicula.
                <br><br>
                Vestibulum eu felis egestas, imperdiet eros luctus, cursus arcu. Proin non massa cursus, viverra dolor
                ac, aliquet nibh. Donec id odio tellus. Proin vitae dapibus est. Etiam sagittis luctus eleifend. Nulla
                laoreet, dolor sit amet lacinia commodo, ante quam molestie lacus, nec suscipit quam nulla sit amet
                nisl. Cras accumsan orci tellus, in cursus ante condimentum ac. In scelerisque ipsum ultricies quam
                luctus, in fringilla est porta.
                <br><br>
                Donec aliquet ipsum efficitur luctus placerat. Proin nunc orci, ultricies ac ex et, eleifend tristique
                quam. Donec varius turpis quis nunc venenatis tempus. In et turpis sagittis, pellentesque justo ut,
                convallis est. Quisque fermentum mauris lorem, ac faucibus ex lobortis a. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Vivamus luctus semper porttitor. Pellentesque nunc mi, semper vel ipsum
                eleifend, varius maximus ex. Mauris id magna non lacus laoreet ornare ac dapibus augue. Mauris luctus
                gravida purus ac volutpat. Suspendisse vel eros eu nulla ullamcorper commodo sit amet ac dui. Fusce at
                metus sed nulla condimentum consequat. Ut et arcu eu tortor dapibus blandit. Nullam mattis elementum
                eros, sit amet convallis est rutrum non.
                <br><br>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Política de Cookies">
        <div class="content-container">
            <div style="height: 100%; color:black; overflow-y: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat dui vitae pharetra placerat.
                Aliquam laoreet sagittis lorem, quis venenatis sem auctor ac. Donec porttitor convallis mauris. Proin
                bibendum vitae dolor vehicula aliquet. Cras venenatis posuere magna vitae pellentesque. Fusce elementum
                felis nec tellus fermentum, quis rhoncus libero vulputate. Aenean pretium lorem dapibus, fringilla
                turpis nec, consequat neque. Vivamus nec nunc rutrum, euismod nisl malesuada, maximus nunc. Vestibulum
                aliquam, nulla sit amet faucibus porttitor, odio ipsum ullamcorper ante, et maximus massa orci vitae
                elit. Suspendisse ultricies felis ullamcorper condimentum sagittis. Aenean posuere luctus urna, et
                rutrum felis bibendum in.
                <br><br>
                Morbi at cursus nisi, ac cursus felis. Duis sit amet ullamcorper orci. Pellentesque elementum vulputate
                urna et congue. Donec porttitor est vel nunc pulvinar, eu sagittis sem placerat. Cras quis eros eros.
                Fusce vulputate nunc dui, sit amet sollicitudin nisi auctor quis. Etiam at dictum ipsum. Sed dictum
                augue nunc, quis cursus lorem congue convallis. Praesent euismod, quam ac sodales sodales, dolor ligula
                aliquam odio, quis interdum justo turpis sed diam. Duis ultrices vehicula lorem vel ultricies.
                <br><br>
                Pellentesque vitae mi aliquam, finibus lectus in, porta enim. Quisque suscipit tristique velit sed
                tincidunt. Ut tempor sem eu lacus lacinia ullamcorper. Aliquam in lectus sit amet ex porttitor vulputate
                sit amet sit amet dui. Vivamus bibendum laoreet ullamcorper. Fusce quis lorem sit amet odio faucibus
                lacinia. Vivamus tristique ligula dui, eu facilisis enim ornare sed. Nulla aliquet purus at egestas
                mollis. Sed non neque in sem porttitor ultricies. Aenean posuere eros sit amet dolor interdum molestie.
                Fusce ex tellus, dictum ut est ut, consequat pretium elit. Aenean eleifend pretium ligula, quis posuere
                mauris feugiat eu. Duis consectetur nisl vestibulum mollis gravida. Etiam viverra venenatis eros, eu
                interdum lacus. Nunc pellentesque nec felis sit amet vehicula.
                <br><br>
                Vestibulum eu felis egestas, imperdiet eros luctus, cursus arcu. Proin non massa cursus, viverra dolor
                ac, aliquet nibh. Donec id odio tellus. Proin vitae dapibus est. Etiam sagittis luctus eleifend. Nulla
                laoreet, dolor sit amet lacinia commodo, ante quam molestie lacus, nec suscipit quam nulla sit amet
                nisl. Cras accumsan orci tellus, in cursus ante condimentum ac. In scelerisque ipsum ultricies quam
                luctus, in fringilla est porta.
                <br><br>
                Donec aliquet ipsum efficitur luctus placerat. Proin nunc orci, ultricies ac ex et, eleifend tristique
                quam. Donec varius turpis quis nunc venenatis tempus. In et turpis sagittis, pellentesque justo ut,
                convallis est. Quisque fermentum mauris lorem, ac faucibus ex lobortis a. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Vivamus luctus semper porttitor. Pellentesque nunc mi, semper vel ipsum
                eleifend, varius maximus ex. Mauris id magna non lacus laoreet ornare ac dapibus augue. Mauris luctus
                gravida purus ac volutpat. Suspendisse vel eros eu nulla ullamcorper commodo sit amet ac dui. Fusce at
                metus sed nulla condimentum consequat. Ut et arcu eu tortor dapibus blandit. Nullam mattis elementum
                eros, sit amet convallis est rutrum non.
                <br><br>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>