<div class="container animate-in">
    <div class="box">
        <h1 *ngIf="article">{{article.title}}</h1>
        <div *ngIf="article" class="description">
            <h2>Autor: {{article.author}}</h2>
            <h3>{{article.date}}</h3>
        </div>
        <hr>
        <img *ngIf="article" src="{{article.image}}" alt="Card image cap">
        <div *ngIf="article && article.caption" style="text-align: center; color: #777777;">{{article.caption}}</div>
        <br>
        <div *ngIf="article" class="tag">
            <h3>Etiquetas: </h3>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip *ngFor="let tags of article.tags" class="chips">{{tags}}</mat-chip>
            </mat-chip-list>
        </div>
        <div id="articleBody"></div>
        <h3 style="margin-top: 40px; text-align: right;">Compartir:
            <button mat-stroked-button (click)="openCustomSnackBar()" [cdkCopyToClipboard]="web"
                class="disable-text-select">
                <mat-icon #tooltip="matTooltip" aria-hidden="false" aria-label="car icon" matTooltip="Copiar"
                    [matTooltipPosition]="'below'" matTooltipClass="tooltip-icon" class="material-icons-round">
                    content_copy
                </mat-icon>
            </button>
        </h3>
        <div id="bibliographies"></div>
    </div>
</div>