@font-face {
    src: url(../assets/fonts/Musket.otf);
    font-family: mus;
}

/* .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
} */

.material-icons-round{
    color: #fff;
}

/* .mat-raised-button{
    background-color: #000;
    color: #fff;
    margin-left: 40px;
    box-shadow: none;
    font-size: 20px;
    font-family: mus;
    filter: invert(100%);
} */

::ng-deep .tooltip-icon {
    position: relative;
    font-size: 15px;
    min-width: 90px;
    background: #555555;
    color: white;
    display: block;
    text-align: center;
}

::ng-deep .mat-dialog-container {
    background-color: white !important;
    height: fit-content !important;
    width: fit-content !important;
    padding: unset !important;
    border-radius: 20px !important;
}
