<mat-sidenav-container class="example-container" autosize hasBackdrop="'true'">
    <mat-sidenav [(opened)]="openSidenav" class="example-sidenav" mode="side">

        <mat-icon class="material-icons-round close" (click)="openSidenav = false;">close</mat-icon>


        <div class="menu-buttons">
            <button mat-raised-button [routerLink]="['news']" (click)="openSidenav = false;">
                <mat-icon class="material-icons-round lens">import_contacts</mat-icon> Noticias
            </button> <br><br>
            <button mat-raised-button [routerLink]="['home']" (click)="openSidenav = false;">
                <mat-icon class="material-icons-round lens">monetization_on</mat-icon> Savio
            </button> <br><br>
            <button mat-raised-button [routerLink]="['user','create']" (click)="openSidenav = false;" *ngIf="!token">
                <mat-icon class="material-icons-round lens">account_circle</mat-icon> Crear cuenta
            </button>
            <button mat-raised-button [routerLink]="['transactions']" (click)="openSidenav = false;" *ngIf="token">
                <mat-icon class="material-icons-round lens">payment</mat-icon> Transacciones
            </button> <br><br>
            <button mat-raised-button [routerLink]="['user','modify']" (click)="openSidenav = false;" *ngIf="token">
                <mat-icon class="material-icons-round lens">settings</mat-icon> Modificar Datos
            </button>

        </div>

        <div class="logout">
            <br *ngIf="!token"> <br *ngIf="!token">
            <button mat-raised-button class="button-logout" (click)="openSidenav = false;" (click)="openDialog()"
                *ngIf="!token">
                <mat-icon class="material-icons-round lens">power_settings_new</mat-icon> Iniciar Sesión
            </button>

            <button mat-raised-button class="button-logout" (click)="openSidenav = false;" (click)="logout()"
                *ngIf="token">
                <mat-icon class="material-icons-round lens">power_settings_new</mat-icon> Cerrar Sesión
            </button>

        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-fab aria-label="Example icon button with a delete icon" class="menu-button" #tooltip="matTooltip"
            matTooltip="Menu" [matTooltipPosition]="'below'" matTooltipClass="tooltip-icon"
            (click)="openSidenav = !openSidenav">
            <mat-icon class="mat-menu-icon material-icons-round">menu</mat-icon>
        </button>
        <router-outlet>
            <!-- <app-navbar></app-navbar> -->
        </router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>