<div class="navbar">
    <div class="navbar-container">
        <a style="color: black;" class="line no-border" (click)="scrollToElement('MonetaStudio')"> MonetaStudio </a>
        <div class="navbar-menu">
            <!--a style="background-color: red;" class="no-border navbar-button navbar-logout-button" *ngIf="token"
                (click)="logout()">Cerrar
                Sesión</a>

            <a class="no-border navbar-button navbar-login-button" *ngIf="!token" (click)="openDialog()">Iniciar
                Sesión</a>

            <a style="color: black;" class="line no-border" *ngIf="token" (click)="openSettings()">
                <div style="display: flex;">Ajustes<div *ngIf="!emailConfirmed" class="badge pulsate"></div></div>
            </a>

            <a style="color: black;" class="line no-border" *ngIf="!token" (click)="newUser()">Regístrate</a>

            <a style="color: black;" class="line no-border" *ngIf="token"
                [routerLink]="['/transactions']">Transacciones</a-->

            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
                <a id="navbar-session-menu" [matMenuTriggerFor]="menu"
                    *ngIf="auth.user$ | async as user" class="line">
                    <span>Hola,&nbsp;</span>
                    <span style="color: #6a20e1;" *ngIf="user.given_name">{{user.given_name}}</span>
                    <span style="color: #6a20e1;" *ngIf="!user.given_name">{{user.nickname}}</span>
                    <img src="{{user.picture}}" class="profile-pic">
                </a>
                <mat-menu #menu="matMenu">
                    <button  mat-menu-item>Item 1</button>
                    <button style="background-color: red;" (click)="auth0Logout()" mat-menu-item>Cerrar Sesion</button>
                </mat-menu>
                <!--a style="background-color: red;" class="no-border navbar-button navbar-logout-button"
                    >
                    Cerrar Sesion
                </a-->

                <a style="color: black;" class="line no-border" [routerLink]="['/transactions']">Transacciones</a>


            </ng-container>

            <ng-template #loggedOut>
                <a class="no-border navbar-button navbar-login-button" (click)="auth0Login()">Iniciar Sesion</a>
            </ng-template>



            <a style="color: black;" class="line no-border" [routerLink]="['/articles']">Artículos</a>
        </div>

    </div>
    <div id="grad1"></div>
</div>