::ng-deep .mat-dialog-container {
/*.prueba {*/
    border: solid black 2px;
    background-color: white;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
}

.logo {
    margin-top: 2vh;
    height: 100px;
    width: auto;
}

.eti {
    margin-top: 1vh;
    text-align: center;
}

.inp {
    margin-left: 5.5vw;
}

#but {
    position: relative;
    width: 150px;
    margin: 0px auto;
    background-color:blue;
}

#but[disabled] {
    background-color:dimgray;
}

::ng-deep .mat-focused .mat-form-field-label {
    /* change color of label */
    color: dimgrey !important;
}

::ng-deep .mat-form-field-underline {
    /* change color of underline */
    background-color: dimgrey !important;
}

::ng-deep .mat-form-field-ripple {
    /* change color of underline when focused */
    background-color: blue !important;
}

::ng-deep mat-label{
    color: dimgray;
}

.mat-input-element {
    color:black;
}

.mat-dialog-actions {
    margin-bottom: 12px;
    padding: 0px;
    min-height: unset;
}
