<!-- <div class="containerbody">
    <div class="row"> -->
<!-- <div class="col-md-8">
            <div class="prueba">
                <form [formGroup]=loginForm>
                    <img class="logo" src="../../../../assets/img/LogoSavioo.png" alt="">
                    <h3 class="eti">Email</h3>
                    <input formControlName="userEmail" type="text">
                    <h3 class="eti">Contraseña</h3>
                    <input formControlName="password" type="password">
                    <br><br>
                    <input id="but" class="btn-info" type="submit" value="Iniciar Sesión" (click)="submit_onClick()">
                </form>
            </div>
        </div> -->
<!-- <div class="col-md-4"> -->
<!-- <h3 style="text-align: center;">video</h3> -->
<!-- <div class="prueba"> -->
<div mat-dialog-content>
    <!-- <img class="logo" src="../../../../assets/img/LogoSavioo.png" alt=""> -->
    <img class="logo" src="../../../../assets/img/single_user.png" alt="">
    <br><br>
    <form [formGroup]="loginForm" autocomplete="off">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="userEmail" placeholder="User Email" required>
        </mat-form-field>
        <br><br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="User Password" [type]="hide ? 'password' : 'text'" (keyup.enter)="submit_onClick()" required>
            <mat-icon class="password-visibility" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <br><br>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button id="but" (click)="submit_onClick()"
        [disabled]="loginForm.invalid">Iniciar
        Sesión</button>
</div>
<!-- </div> -->
<!-- </div> -->
<!--    </div>
</div> -->