.login-container {
    /*.prueba {*/
    width: 400px;
    text-align: center;
}

.logo {
    margin-top: 2vh;
    height: 100px;
    width: auto;
}

.eti {
    margin-top: 1vh;
    text-align: center;
}

.inp {
    margin-left: 5.5vw;
}

.login-button {
    position: relative;
    width: 150px;
    margin: 0px auto;
    background-color: #6a20e1;
}

.login-button[disabled] {
    background-color: dimgray;
}

::ng-deep .mat-focused .mat-form-field-label {
    /* change color of label */
    color: dimgrey !important;
}

::ng-deep .mat-form-field-underline {
    /* change color of underline */
    background-color: dimgrey !important;
}

::ng-deep .mat-form-field-ripple {
    /* change color of underline when focused */
    background-color: blue !important;
}

::ng-deep mat-label {
    color: dimgray;
}

.mat-input-element {
    color: black;
}

.mat-dialog-actions {
    margin-bottom: 12px;
    padding: 0px;
    min-height: unset;
}

.password-visibility{
    color: #000;
    color: black;
    float: right;
    margin-left: -25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

::ng-deep .no-border:focus:active:hover {
    outline: none !important;
    border: 0 !important;
}

.no-border {
    outline: none;
    border: 0;
}