.texta{
    resize: both;
    height: 150px;
    width: 400px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: dimgray;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

::-webkit-scrollbar-track-piece {
    background: #ddd;
    border-radius: 10px;
}
