<div class="feedback-container">
  <h1 class="black-text">Ayúdanos a mejorar</h1>
  <h3 class="black-text no-margin">¿Cómo podemos mejorar?</h3>
  <mat-form-field>
    <mat-label>Deja tu opinión</mat-label>
    <input matInput [value]="feedback.title" (change)="updateForm($event.srcElement.value, 'title')">
  </mat-form-field>
  <h3 class="black-text no-margin">Detalles</h3>
  <mat-form-field class="textaf">
    <mat-label style="padding-left: 10px; padding-top: 10px;">Incluye toda la información posible...</mat-label>
    <textarea class="texta" matInput [value]="feedback.details" (change)="updateForm($event.srcElement.value, 'details')"></textarea>
  </mat-form-field>
  Envianos tus comentarios si tienes ideas<br> para ayudarnos a mejorar nuestra aplicación.
  <div class="feedback-buttons" style="margin-top: 15px;">
    <a mat-stroked-button mat-dialog-close class="cancel-button">Cancelar</a>
    <button mat-raised-button color="primary" (click)="submitFeedback();">Enviar</button>
  </div>
</div>