<h1 mat-dialog-title>Ayúdanos a mejorar</h1>
<div mat-dialog-content><h3>¿Cómo podemos mejorar?</h3></div>
<mat-form-field appearance="fill">
    <mat-label>Deja tu opinión</mat-label>
    <input matInput>
  </mat-form-field>
<div mat-dialog-content><h3>Detalles</h3></div>
<mat-form-field appearance="fill">
    <mat-label>Incluye toda la información posible...</mat-label>
    <textarea class="texta" matInput></textarea>
  </mat-form-field>
<div mat-dialog-content>Envianos tus comentarios si tienes ideas<br> para ayudarnos a 
    mejorar nuestra aplicación.
</div> <br>
<div mat-dialog-actions>
  <a mat-button mat-dialog-close>Cancelar</a>
  <button mat-raised-button color="primary">Enviar</button>
</div>

