




<div *ngIf="success"> Correo confirmado</div>
<div *ngIf="!success"> Hubo un error al verificar tu cuenta, por favor intentalo de nuevo.</div>

<!-- 
<div class="container">
<div class="card">
    <h2> Gracias por unirte a Moneta Studio!</h2>
    <p> Verifica tu cuenta para tener acceso a mas herramientas dentro de Moneta
        Studio. </p>
    <p> Da click en el boton de abajo para unirte oficialmente a nuestra comunidad. </p> 
    
    <button
        style="margin-left: 10%; margin-bottom: 3%; display: flex; justify-content: center; margin-top: 5%; border-radius: 25px; border: 1px solid #6a20e1; color: #6a20e1; padding: 1%; background-color: #ffffff;"
        onmouseover="this.style.color='#ffffff'; this.style.background='#6a20e1'; this.style.cursor='pointer'"
        onmouseout="this.style.color='#6a20e1'; this.style.background='#ffffff'; this.style.cursor='default'">
        Confirmar Correo
     </button>
</div>
</div>
-->
