<div id='background'></div>
<div class='navbar navbar-fixed-top'>
    <nav class='navbar-inner header'>
        <div class='container'>
            <div class='brand'>
                <img class="logo" src="../../../../assets/img/LogoSavioo.png" alt="">
            </div>
            <div>
                <ul class='nav pull-right'>
                    <li id="aligned">
                        <a class='nav-link'>
                            Iniciar Sesión
                        </a>
                    </li>
                    <li>
                        <a class='nav-link'>
                            Crear Cuenta
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>