* {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#aligned {
    margin-left: 63.8vw;
}

.container {
    max-width: 100%;
}

.navbar {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.navbar-inner li {
    line-height: 40px;
    letter-spacing: 2px;
}

.nav-link:hover {
    border-top: 4px solid white;
    transition: border-top 0.3s;
    border-top: 4px solid dodgerblue;
}

.brand {
    max-width: 100%;
}

.brand:hover {
    letter-spacing: 4px;
    border-top: 4px solid white;
    transition: border-top 0.3s;
    border-top: 4px solid dodgerblue;
    border-top: 4px solid dodgerblue;
}

.triangle-down {
    position: fixed;
    margin-top: 65px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid dodgerblue;
}

.triangle-down p:hover {
    text-align: center;
    color: white;
    margin-top: -33px;
    margin-left: -13px;
    transition: color 0.2s;
    color: rgba(0, 0, 0, 0.4);
}

.logo {
    height: 11vh;
    width: 8vw;
}