
<nav>
    <ul>
        <div>
            <li *ngIf="token"><a mat-raised-button color="accent" (click)="logout()">Cerrar Sesión</a></li>
            <li *ngIf="token"><a mat-raised-button color="warn" [routerLink]="['user','modify']">Modificar Datos</a></li>
            <li *ngIf="!token"><a mat-raised-button color="accent" [routerLink]="['user','login']" >Iniciar Sesión</a></li>
            <li *ngIf="!token"><a mat-raised-button color="warn" [routerLink]="['user','create']">Crear Cuenta</a></li>
            <li><a mat-raised-button color="primary">Acerca de SAVIO</a></li>
        </div>
        <li class="logo" style="float:left"><a href=""><img src="../../../../assets/img/logo.png"></a></li>
    </ul>
</nav>