<div class="containerbody animate-in">

    <div class="container-transaction">

        <div class="flex-item main-block">
            <h1>GASTOS</h1>

            <mat-tree [dataSource]="dataSourceExpenses" [treeControl]="treeControl"
                class="custom-tree disable-text-select">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="tree-node"
                    (click)="handleTransaction($event, node)" matRipple>
                    <button mat-icon-button class="transaction-action-button">
                        <mat-icon class="mat-menu-icon material-icons-round transaction-action-icon">delete
                        </mat-icon>
                    </button>
                    <div class="transaction-text">
                        <div>
                            <strong>{{node.concept}}</strong><br>
                            {{node.date | date}}
                        </div>
                        <div class="node-amount"> {{node.amount | currency}} </div>
                    </div>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                    class="tree-node-category" matRipple>
                    <button mat-icon-button [attr.aria-label]="'toggle ' + node.concept" class="expand-button">
                        <mat-icon class="mat-icon-rtl-mirror material-icons-round" style="vertical-align:initial;">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>

                    <mat-icon mat-list-icon class="material-icons-round category-icon">{{node.icon}}</mat-icon>
                    <div class="category-text">
                        <div class="category-name">
                            {{node.concept}}
                        </div>
                        <div class="node-amount"> {{node.amount | currency}} </div>
                    </div>
                </mat-tree-node>
            </mat-tree>
        </div>

        <div class="flex-item main-block">
            <h1>INGRESOS</h1>

            <mat-tree [dataSource]="dataSourceIncomes" [treeControl]="treeControl"
                class="custom-tree disable-text-select">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="tree-node"
                    (click)="handleTransaction($event, node)" matRipple>
                    <button mat-icon-button class="transaction-action-button">
                        <mat-icon class="mat-menu-icon material-icons-round transaction-action-icon">delete</mat-icon>
                    </button>
                    <div class="transaction-text">
                        <div>
                            <strong>{{node.concept}}</strong><br>
                            {{node.date | date}}
                        </div>
                        <div class="node-amount"> {{node.amount | currency}} </div>
                    </div>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                    class="tree-node-category" matRipple>
                    <button mat-icon-button [attr.aria-label]="'toggle ' + node.concept" class="expand-button">
                        <mat-icon class="mat-icon-rtl-mirror material-icons-round" style="vertical-align:initial;">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>

                    <mat-icon mat-list-icon class="material-icons-round category-icon">{{node.icon}}</mat-icon>
                    <div class="category-text">
                        <div class="category-name">
                            {{node.concept}}
                        </div>
                        <div class="node-amount"> {{node.amount | currency}} </div>
                    </div>
                </mat-tree-node>
            </mat-tree>

            <!-- <mat-list style="overflow-y: scroll; height: 25vh; padding-top: 0px;">
                <mat-list-item class="list-item" *ngFor="let transaction of transactionsARR">
                    <mat-icon mat-list-icon [matTooltip]="transaction.categoryName" [matTooltipPosition]="'below'"
                        matTooltipClass="tooltip-icon">{{transaction.categoryIcon}}</mat-icon>
                    <div mat-line>{{transaction.concept}}</div>
                    <div mat-line> {{transaction.date | date}} </div>
                    <div style="float: right;"> {{transaction.amount | currency}} </div>
                </mat-list-item>
            </mat-list> -->

        </div>

        <div class="flex-item graph">
            <h1>Categorias Gastos </h1>
            <div class="graph-container">
                <div class="categories-container disable-text-select">
                    <div *ngFor="let trans of expenses; let i = index" class="category">
                        <mat-icon mat-list-icon class="material-icons-round" [ngClass]="'category-ball'+i">lens
                        </mat-icon>
                        {{trans.concept}}
                    </div>
                </div>
                <div class="spinner-container2">
                    <!-- <mat-progress-spinner *ngFor="let trans of expenses; let i = index" [ngClass]="'custom-spinner'+i"
                        [diameter]="100" [strokeWidth]="60" mode="determinate"
                        [value]="trans.cumulativePercentage" style="height: 0px;" matTooltip="{{trans.amount | currency}} - {{trans.percentage}}%"
                        [matTooltipPosition]="'above'">
                    </mat-progress-spinner> -->
                    <canvas mdbChart [chartType]="chartType" [datasets]="expenseDatasets" [labels]="expenseLabels"
                        [colors]="chartColors" [options]="chartOptions" [legend]="false"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                    <div id="chartjs-tooltip">
                        <table></table>
                    </div>
                </div>
            </div>
            <!--      <h1 class="calendar">Calendario > 2020 </h1> -->
        </div>

        <div class="flex-item graph">
            <h1>Categorias Ingresos</h1>
            <div class="graph-container">
                <div class="categories-container disable-text-select">
                    <div *ngFor="let trans of incomes; let i = index" class="category disable-text-select">
                        <mat-icon mat-list-icon class="material-icons-round" [ngClass]="'category-ball'+i">lens
                        </mat-icon>
                        {{trans.concept}}
                    </div>
                </div>
                <div class="spinner-container2">
                    <canvas mdbChart [chartType]="chartType" [datasets]="incomeDatasets" [labels]="incomeLabels"
                        [colors]="chartColors" [options]="chartOptions" [legend]="false"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                    <!-- <mat-progress-spinner *ngFor="let trans of incomes; let i = index" [ngClass]="'custom-spinner'+i"
                        [diameter]="100" [strokeWidth]="60" [ngStyle]="{'z-index':i}" mode="determinate"
                        [value]="trans.cumulativePercentage" style="height: 0px;">
                    </mat-progress-spinner> -->
                </div>
            </div>
        </div>

        <div class="flex-item main-block">

            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedVal"
                (change)="onValChange(group.value)">
                <mat-button-toggle value="expenses">GASTOS</mat-button-toggle>
                <mat-button-toggle value="incomes">INGRESOS</mat-button-toggle>
            </mat-button-toggle-group>

            <div class="bar-graph-container">
                <div *ngIf="selectedVal == 'expenses'">
                    <mat-list class="categories-list">
                        <mat-list-item class="list-item" *ngFor="let category of expenses; let i = index">
                            <!-- <mat-icon mat-list-icon>{{category.icon}}</mat-icon> -->
                            <div mat-line>{{category.concept}}</div>
                            <div class="custom-progress-bar-container">
                                <div class="custom-progress-bar-div"
                                    [ngStyle]="{'width': (category.relativePercentage < 1 ? 1 : category.relativePercentage) + '%' }"
                                    [ngClass]="'progress-bar-div'+i" matTooltipClass="transaction-tooltip"
                                    matTooltip="{{category.amount | currency}} - {{category.percentage}}%"
                                    [matTooltipPosition]="'right'"></div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>

                <div *ngIf="selectedVal == 'incomes'">
                    <mat-list class="categories-list">
                        <mat-list-item class="list-item" *ngFor="let category of incomes; let i = index">
                            <!-- <mat-icon mat-list-icon>{{category.icon}}</mat-icon> -->
                            <div mat-line>{{category.concept}}</div>
                            <div class="custom-progress-bar-container">
                                <div class="custom-progress-bar-div"
                                    [ngStyle]="{'width': (category.relativePercentage < 1 ? 1 : category.relativePercentage) + '%' }"
                                    [ngClass]="'progress-bar-div'+i" matTooltipClass="tooltip-bar"
                                    matTooltip="{{category.amount | currency}} - {{category.percentage}}%"
                                    [matTooltipPosition]="'right'"></div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <button mat-button class="create-transaction-button"
                (click)="createTransactionDialog()">Transacción</button>

        </div>

        <div class="flex-item main-block">
            <div class="input-box-container">
                <input type="hidden" angular-mydatepicker name="mydate" [(ngModel)]="model" [(options)]="myDpOptions"
                    #dp="angular-mydatepicker" (rangeDateSelection)="onRangeDateSelection($event)" />
            </div>
            <div class="legends">
                <div class="legend"><span class="myDpMarkDate legend-mark" style="border-top: 8px solid red;"></span>Gasto</div>
                <div class="legend"><span class="myDpMarkDate legend-mark" style="border-top: 8px solid green;"></span>Ingreso</div>
                <div class="legend"><span class="myDpMarkDate legend-mark" style="border-top: 8px solid black;"></span>Gasto e Ingreso</div>
            </div>
        </div>

    </div>
</div>