@font-face {
    src: url(../../../assets/fonts/Musket.otf);
    font-family: mus;
  }

mat-progress-spinner{
    top:50%;
    left:50%;
    position: absolute;
}

.show{
    text-align: right;
    margin-right: 4vw;
    margin-bottom: 2vh;
    font-family: mus !important;
}

.containerbody{
    height: 82vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15vh;
}

.negative{
    margin-left: 4vw;
    background-color: #04ECD6;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    font-size: 18px;
    height: 20vh;
}

.negative h1{
    font-family: mus !important;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}

.graph-negative{
    background-color: #fff;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    height: 30vh;
    margin-left: 4vw;

}

.graph-negative h1{
    font-family: mus !important;
    font-size: 18px;
    text-align: left;
}

.calendar{
    position:absolute;
    bottom:0;
}

.mounth{
    background-color: #04ECD6;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    font-size: 18px;
    height: 40vh;
    margin-left: 4vw;

}

.mounth h1{
    font-family: mus !important;
    font-size: 24px;
    text-align: center;
    margin-top: 1vh;
}

.positive{
    margin-left: 4vw;
    background-color: #04ECD6;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    font-size: 18px;
    height: 20vh;
}

.positive h1{
    font-family: mus !important;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}

.graph-positive{
    background-color: #fff;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    height: 30vh;
    margin-left: 4vw;

}

.graph-positive h1{
    font-family: mus !important;
    font-size: 18px;
    text-align: left;
}

.table-register{
    position:absolute;
    bottom:0;
}

.table{
    margin-left: 4vw;
    background-color: #04ECD6;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    font-size: 18px;
    height: 40vh;
}

.table h1{
    font-family: mus !important;
    font-size: 18px;
    text-align: right;
    padding: 10px;
}

.table p {
    text-align: right;
}

::ng-deep .custom-spinner0 circle{
    stroke: #000000;
    stroke-width: 9.1% !important;
}

::ng-deep .custom-spinner1 circle{
    stroke: #222222;
    stroke-width: 9.3% !important;
}

::ng-deep .custom-spinner2 circle{
    stroke: #444444;
    stroke-width: 9.5% !important;
}

::ng-deep .custom-spinner3 circle{
    stroke: #777777;
    stroke-width: 9.7% !important;
}

::ng-deep .custom-spinner4 circle{
    stroke: #aaaaaa;
    stroke-width: 9.9% !important;
}

.custom-spinner{
    top:70%;
    left:50%;
    position: absolute;
    margin-left: -11.5vw;
    margin-top: -28vh;
}

#Spinn{
    margin-left: 22vw;
    margin-top: -8vh;
}

::ng-deep .custom-spinner10 circle{
    stroke: #000000;
}

::ng-deep .custom-spinner11 circle{
    stroke: #222222;
}

::ng-deep .custom-spinner12 circle{
    stroke: #444444;
}

::ng-deep .custom-spinner13 circle{
    stroke: #777777;
}

::ng-deep .custom-spinner14 circle{
    stroke: #aaaaaa;
}