@font-face {
    src: url(../../../assets/fonts/Musket.otf);
    font-family: mus;
}

mat-progress-spinner {
    position: static;
}

.show {
    text-align: right;
    margin-right: 4vw;
    margin-bottom: 2vh;
    font-family: mus !important;
}

.containerbody {
    height: fit-content;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: -3vh;
}

.negative {
    margin-left: 4vw;
    background-color: #04ECD6;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    font-size: 18px;
    height: 34vh;
}

.negative h1 {
    font-family: mus !important;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}

.graph-negative {
    background-color: #fff;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    height: 20vh;
    margin-left: 4vw;
}

.graph-negative h1 {
    font-family: mus !important;
    font-size: 18px;
    text-align: left;
    margin: 0px;
}

.calendar {
    position: absolute;
    bottom: 0;
}

.month {
    background-color: #04ECD6;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    font-size: 18px;
    height: 40vh;
    margin-left: 4vw;
}

.month h1 {
    font-family: mus !important;
    font-size: 24px;
    text-align: center;
    margin-top: 1vh;
}

.positive {
    margin-left: 4vw;
    background-color: #04ECD6;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    font-size: 18px;
    height: 34vh;
}

.positive h1 {
    font-family: mus !important;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}

.graph-positive {
    background-color: #fff;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    height: 20vh;
    margin-left: 4vw;
}

.graph-positive h1 {
    font-family: mus !important;
    font-size: 18px;
    text-align: left;
    margin: 0px;
}

.table-register {
    position: absolute;
    bottom: 0;
}

.table {
    margin-left: 4vw;
    background-color: #04ECD6;
    max-width: 80vw;
    border-radius: 25px;
    font-family: mus !important;
    font-size: 18px;
    height: 40vh;
}

.table h1 {
    font-family: mus !important;
    font-size: 18px;
    text-align: right;
    padding: 10px;
}

.table p {
    text-align: right;
}

mat-button-toggle-group {
    border-radius: 4px;
    margin-top: 10px;
    float: right;
}

mat-button-toggle {
    font-size: 15px;
    background-color: #fff;
    color: #000000;
    font-family: mus;
}

.mat-button-toggle-checked {
    background-color: #000;
    color: white;
}

.categories {
    margin-top: 10vh;
}

.mat-button {
    font-family: mus;
    bottom: 0px;
    float: right;
    margin-top: 23vh;
    border: 1px solid black;
    width: 194px;
    background-color: white;
    color: black;
    letter-spacing: 2px;
}

/*********************SPIN*********************************/

::ng-deep .custom-spinner0 circle {
    stroke: #000000;
}

::ng-deep .custom-spinner1 circle {
    stroke: #222222;
}

::ng-deep .custom-spinner2 circle {
    stroke: #444444;
}

::ng-deep .custom-spinner3 circle {
    stroke: #777777;
}

::ng-deep .custom-spinner4 circle {
    stroke: #aaaaaa;
}

/* .custom-spinner{
    top:60%;
    left:50%;
    position: absolute;
    margin-left: -11.5vw;
    margin-top: -28vh;
} */

#Spinn {
    margin-left: 22vw;
    margin-top: -8vh;
}

::ng-deep .custom-spinner10 circle {
    stroke: #000000;
}

::ng-deep .custom-spinner11 circle {
    stroke: #222222;
}

::ng-deep .custom-spinner12 circle {
    stroke: #444444;
}

::ng-deep .custom-spinner13 circle {
    stroke: #777777;
}

::ng-deep .custom-spinner14 circle {
    stroke: #aaaaaa;
}

/**  List **/
::ng-deep .custom-tree{
    overflow-y: auto; 
    height: 25vh; 
    padding-top: 0px; 
    background-color: rgb(255 255 255 / 25%);
    border-radius: 10px;
}

::ng-deep .mat-icon-button:hover,
 .mat-icon-button:active,
 .mat-icon-button:focus{
    outline: none;
    border: 0;
}

::ng-deep .tree-node-category {
    height: 40px;
    min-height: unset !important;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

::ng-deep .mat-tree-node {
    color:black !important;
}

::ng-deep .tree-node{
    min-height: unset !important;
}

::ng-deep .mat-tree-node:hover{
    background-color: rgb(0 0 0 / 25%);
}

.category-name *{
    height: 16px;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: dimgray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444;
}

::-webkit-scrollbar-track-piece {
    background: #ddd;
    border-radius: 10px;
}

.tree-node:hover .transaction-action-button .transaction-action-icon{
    visibility: visible;
}

.transaction-action-icon{
    visibility: hidden;
}

button.mat-menu-item{
    outline: none;
    border: 0;
}