<div class="containerbody">
    <!--  <div class="show"> Mostrar: Mensual &#x23f7; </div> -->
    <div class="row">
        <div class="negative col-sm-5">
            <h1 style="margin: 0px;">GASTOS</h1>

            <mat-tree [dataSource]="dataSourceExpenses" [treeControl]="treeControl" class="custom-tree">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="tree-node">
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled></button>
                    <div style="width: 70%;">
                        <strong>{{node.concept}}</strong><br>
                        {{node.date | date}}
                    </div>
                    <div style="text-align: right; font-size: 16px;"> {{node.amount | currency}} </div>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                    class="tree-node-category">
                    <button mat-icon-button [attr.aria-label]="'toggle ' + node.concept" style="height: 24px;">
                        <mat-icon class="mat-icon-rtl-mirror material-icons-round" style="vertical-align:initial;">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <mat-icon mat-list-icon class="material-icons-round" style="margin-right: 10px;">{{node.icon}}</mat-icon>
                    {{node.concept}}
                </mat-tree-node>
            </mat-tree>

            <!-- <mat-list style="overflow-y: scroll; height: 25vh; padding-top: 0px;">
                <mat-list-item style="color: #000; " class="list-item" *ngFor="let transaction of transactionsARR">
                    <mat-icon mat-list-icon [matTooltip]="transaction.categoryName" [matTooltipPosition]="'below'"
                        matTooltipClass="tooltip-icon">{{transaction.categoryIcon}}</mat-icon>
                    <div mat-line>{{transaction.concept}}</div>
                    <div mat-line> {{transaction.date | date}} </div>
                    <div style="float: right;"> {{transaction.amount | currency}} </div>
                </mat-list-item>
            </mat-list> -->

        </div>
        <div class="positive col-sm-5">
            <h1 style="margin: 0px;">INGRESOS</h1>

            <mat-tree [dataSource]="dataSourceIncomes" [treeControl]="treeControl" class="custom-tree">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="tree-node">
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled></button>
                    <div style="width: 70%;">
                        <strong>{{node.concept}}</strong><br>
                        {{node.date | date}}
                    </div>
                    <div style="text-align: right; font-size: 16px;"> {{node.amount | currency}} </div>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                    class="tree-node-category">
                    <button mat-icon-button [attr.aria-label]="'toggle ' + node.concept" style="height: 24px;">
                        <mat-icon class="mat-icon-rtl-mirror material-icons-round" style="vertical-align:initial;">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>

                    <mat-icon mat-list-icon class="material-icons-round" style="margin-right: 10px;">{{node.icon}}</mat-icon>
                    <span class="category-name" style="width: 60%;">
                        {{node.concept}}
                    </span>
                    <div style="text-align: right; font-size: 16px;"> {{node.amount | currency}} </div>
                </mat-tree-node>
            </mat-tree>

            <!-- <mat-list style="overflow-y: scroll; height: 25vh; padding-top: 0px;">
                <mat-list-item class="list-item" *ngFor="let transaction of transactionsARR">
                    <mat-icon mat-list-icon [matTooltip]="transaction.categoryName" [matTooltipPosition]="'below'"
                        matTooltipClass="tooltip-icon">{{transaction.categoryIcon}}</mat-icon>
                    <div mat-line>{{transaction.concept}}</div>
                    <div mat-line> {{transaction.date | date}} </div>
                    <div style="float: right;"> {{transaction.amount | currency}} </div>
                </mat-list-item>
            </mat-list> -->

        </div>
    </div>

    <div class="row">
        <div class="graph-negative col-sm-5">
            <h1>Lorem ipsum</h1>
            <div class="row">
                <div class="col-sm-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit</p>
                </div>
                <div class="col-sm-4">
                    <mat-progress-spinner *ngFor="let trans of expenses; let i = index"
                        [ngClass]="'custom-spinner'+i" mode="determinate" [value]="trans.percentage">
                    </mat-progress-spinner>
                </div>
            </div>
            <h1 class="calendar">Calendario > 2020 </h1>
        </div>

        <div class="graph-positive col-sm-5">
            <h1>Lorem ipsum</h1>
            <div class="row">
                <div class="col-sm-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit</p>
                </div>
                <div class="col-sm-4">
                    <mat-progress-spinner *ngFor="let trans of incomes; let i = index"
                        [ngClass]="'custom-spinner'+i" mode="determinate" [value]="trans.percentage">
                    </mat-progress-spinner>
                </div>
            </div>
            <h1 class="table-register">Tabla de registro </h1>
        </div>
    </div>

    <div class="row">
        <div class="month col-sm-5">
            <h1>AGO</h1>
        </div>

        <div class="table col-sm-5">

            <mat-button-toggle-group [value]="selectedVal">
                <mat-button-toggle value="option1">GASTOS</mat-button-toggle>
                <mat-button-toggle value="option2">INGRESOS</mat-button-toggle>
            </mat-button-toggle-group>

            <div class="categories row">
                <div class="col-sm-4">
                    <P>Vivienda</P>
                    <P>Transporte</P>
                    <P>Entretenimiento</P>
                    <P>Despensa</P>
                    <P>Salud</P>
                    <P>Ropa</P>
                    <p>Ahorro</p>
                </div>
                <div class="col-sm-8">
                    <button mat-button (click)="TransactionDialog()">Transacción</button>
                </div>
            </div>
        </div>
    </div>
</div>