@font-face {
    src: url(assets/fonts/Musket.otf);
    font-family: Musket;
  }

body {
    background-color: #fff;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

html, body { 
    height: 100%; 
    overflow-x: hidden;
}