.container {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    margin-top: 30vh;
    background: rgb(88, 87, 87);
}

hr {
    border: solid blue -1px;
}

 .containerbody {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    background-color: dimgray;
    height: 680px;
}

label {
    color: white;
    font-size: 20px;
}

.form-field {
    width: 200px;
}

::ng-deep .mat-focused .mat-form-field-label {
    /* change color of label */
    color: white !important;
}

::ng-deep .mat-form-field-underline {
    /* change color of underline */
    background-color: white !important;
    width:200px;
}

::ng-deep.mat-form-field-ripple {
    /* change color of underline when focused */
    background-color: blue !important;
    width:200px;
}