<div mat-dialog-content>
    <mat-label style="font-size: 22px;">Selecciona un icono:</mat-label>
    <div class="icon-list">
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'home'">
            <mat-icon class="icon">home</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'school'">
            <mat-icon class="icon">school</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'directions_car'">
            <mat-icon class="icon">directions_car</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'two_wheeler'">
            <mat-icon class="icon">two_wheeler</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'train'">
            <mat-icon class="icon">train</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'flight'">
            <mat-icon class="icon">flight</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'directions_bus'">
            <mat-icon class="icon">directions_bus</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_gas_station'">
            <mat-icon class="icon">local_gas_station</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'fastfood'">
            <mat-icon class="icon">fastfood</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_pizza'">
            <mat-icon class="icon">local_pizza</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'wine_bar'">
            <mat-icon class="icon">wine_bar</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'sports_bar'">
            <mat-icon class="icon">sports_bar</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_cafe'">
            <mat-icon class="icon">local_cafe</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_dining'">
            <mat-icon class="icon">local_dining</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'restaurant'">
            <mat-icon class="icon">restaurant</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'hotel'">
            <mat-icon class="icon">hotel</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'healing'">
            <mat-icon class="icon">healing</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_hospital'">
            <mat-icon class="icon">local_hospital</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_phone'">
            <mat-icon class="icon">local_phone</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_phone'">
            <mat-icon class="icon">signal_wifi_4_bar</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_laundry_service'">
            <mat-icon class="icon">local_laundry_service</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_mall'">
            <mat-icon class="icon">local_mall</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_offer'">
            <mat-icon class="icon">local_offer</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'shopping_cart'">
            <mat-icon class="icon">shopping_cart</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'watch'">
            <mat-icon class="icon">watch</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'checkroom'">
            <mat-icon class="icon">checkroom</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_movies'">
            <mat-icon class="icon">local_movies</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'local_offer'">
            <mat-icon class="icon">local_play</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'devices_other'">
            <mat-icon class="icon">devices_other</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'devices_other'">
            <mat-icon class="icon">live_tv</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'videogame_asset'">
            <mat-icon class="icon">sports_esports</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'design_services'">
            <mat-icon class="icon">design_services</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'handyman'">
            <mat-icon class="icon">handyman</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'plumbing'">
            <mat-icon class="icon">build</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'plumbing'">
            <mat-icon class="icon">plumbing</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'account_balance_wallet'">
            <mat-icon class="icon">account_balance_wallet</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'account_balance'">
            <mat-icon class="icon">account_balance</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'account_balance'">
            <mat-icon class="icon">local_atm</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'payments'">
            <mat-icon class="icon">payments</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'pets'">
            <mat-icon class="icon">pets</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'baby_changing_station'">
            <mat-icon class="icon">baby_changing_station</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'child_friendly'">
            <mat-icon class="icon">child_friendly</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'backpack'">
            <mat-icon class="icon">backpack</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'casino'">
            <mat-icon class="icon">casino</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'fitness_center'">
            <mat-icon class="icon">fitness_center</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'pool'">
            <mat-icon class="icon">pool</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'beach_access'">
            <mat-icon class="icon">beach_access</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'emoji_events'">
            <mat-icon class="icon">emoji_events</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'military_tech'">
            <mat-icon class="icon">military_tech</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'pages'">
            <mat-icon class="icon">pages</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'card_giftcard'">
            <mat-icon class="icon">card_giftcard</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'cake'">
            <mat-icon class="icon">cake</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'science'">
            <mat-icon class="icon">science</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'self_improvement'">
            <mat-icon class="icon">self_improvement</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'sports_football'">
            <mat-icon class="icon">sports_football</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'history_edu'">
            <mat-icon class="icon">history_edu</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'outdoor_grill'">
            <mat-icon class="icon">outdoor_grill</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'star'">
            <mat-icon class="icon">star</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'family_restroom'">
            <mat-icon class="icon">family_restroom</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'favorite'">
            <mat-icon class="icon">favorite</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'insert_chart_outlined'">
            <mat-icon class="icon">insert_chart_outlined</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'music_note'">
            <mat-icon class="icon">music_note</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'import_contacts'">
            <mat-icon class="icon">import_contacts</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" [mat-dialog-close]="'person'">
            <mat-icon class="icon">person</mat-icon>
        </button>
    </div>
</div>